In [7]:
import pandas as pd
import numpy as np
import py_pcha
from py_pcha import PCHA
import matplotlib.pyplot as plt
from numpy.matlib import repmat

In [8]:
data=pd.read_csv("/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/diabetes2 copy.csv")
data

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,bp.2s,bp.2d,waist,hip,time.ppn
0,1000,203.0,82,56.0,3.6,4.310000,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,NaN,NaN,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.440000,Buckingham,29,female,64.0,218.0,large,112.0,68.0,NaN,NaN,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.640000,Buckingham,58,female,61.0,256.0,large,190.0,92.0,185.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.630000,Buckingham,67,male,67.0,119.0,large,110.0,50.0,NaN,NaN,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.720000,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,NaN,NaN,44.0,41.0,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,41506,296.0,369,46.0,6.4,16.110001,Louisa,53,male,69.0,173.0,medium,138.0,94.0,130.0,94.0,35.0,39.0,210.0
399,41507,284.0,89,54.0,5.3,4.390000,Louisa,51,female,63.0,154.0,medium,140.0,100.0,146.0,102.0,32.0,43.0,180.0
400,41510,194.0,269,38.0,5.1,13.630000,Louisa,29,female,69.0,167.0,small,120.0,70.0,NaN,NaN,33.0,40.0,20.0
401,41752,199.0,76,52.0,3.8,4.490000,Louisa,41,female,63.0,197.0,medium,120.0,78.0,NaN,NaN,41.0,48.0,255.0
402,41756,159.0,88,79.0,2.0,NaN,Louisa,68,female,64.0,220.0,medium,100.0,72.0,NaN,NaN,49.0,58.0,900.0

In [9]:
data = data.drop(columns = ["location", "bp.2s", "bp.2d"])
data

,id,chol,stab.glu,hdl,ratio,glyhb,age,gender,height,weight,frame,bp.1s,bp.1d,waist,hip,time.ppn
0,1000,203.0,82,56.0,3.6,4.310000,46,female,62.0,121.0,medium,118.0,59.0,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.440000,29,female,64.0,218.0,large,112.0,68.0,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.640000,58,female,61.0,256.0,large,190.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.630000,67,male,67.0,119.0,large,110.0,50.0,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.720000,64,male,68.0,183.0,medium,138.0,80.0,44.0,41.0,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,41506,296.0,369,46.0,6.4,16.110001,53,male,69.0,173.0,medium,138.0,94.0,35.0,39.0,210.0
399,41507,284.0,89,54.0,5.3,4.390000,51,female,63.0,154.0,medium,140.0,100.0,32.0,43.0,180.0
400,41510,194.0,269,38.0,5.1,13.630000,29,female,69.0,167.0,small,120.0,70.0,33.0,40.0,20.0
401,41752,199.0,76,52.0,3.8,4.490000,41,female,63.0,197.0,medium,120.0,78.0,41.0,48.0,255.0
402,41756,159.0,88,79.0,2.0,NaN,68,female,64.0,220.0,medium,100.0,72.0,49.0,58.0,900.0

In [10]:
data = data.replace({"female": 1, "male": 0, "small": 1, "medium": 2, "large":3})
data

,id,chol,stab.glu,hdl,ratio,glyhb,age,gender,height,weight,frame,bp.1s,bp.1d,waist,hip,time.ppn
0,1000,203.0,82,56.0,3.6,4.310000,46,1,62.0,121.0,2.0,118.0,59.0,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.440000,29,1,64.0,218.0,3.0,112.0,68.0,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.640000,58,1,61.0,256.0,3.0,190.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.630000,67,0,67.0,119.0,3.0,110.0,50.0,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.720000,64,0,68.0,183.0,2.0,138.0,80.0,44.0,41.0,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,41506,296.0,369,46.0,6.4,16.110001,53,0,69.0,173.0,2.0,138.0,94.0,35.0,39.0,210.0
399,41507,284.0,89,54.0,5.3,4.390000,51,1,63.0,154.0,2.0,140.0,100.0,32.0,43.0,180.0
400,41510,194.0,269,38.0,5.1,13.630000,29,1,69.0,167.0,1.0,120.0,70.0,33.0,40.0,20.0
401,41752,199.0,76,52.0,3.8,4.490000,41,1,63.0,197.0,2.0,120.0,78.0,41.0,48.0,255.0
402,41756,159.0,88,79.0,2.0,NaN,68,1,64.0,220.0,2.0,100.0,72.0,49.0,58.0,900.0

In [11]:
data = data.dropna(axis='index')
data

,id,chol,stab.glu,hdl,ratio,glyhb,age,gender,height,weight,frame,bp.1s,bp.1d,waist,hip,time.ppn
0,1000,203.0,82,56.0,3.6,4.310000,46,1,62.0,121.0,2.0,118.0,59.0,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.440000,29,1,64.0,218.0,3.0,112.0,68.0,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.640000,58,1,61.0,256.0,3.0,190.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.630000,67,0,67.0,119.0,3.0,110.0,50.0,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.720000,64,0,68.0,183.0,2.0,138.0,80.0,44.0,41.0,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,41503,301.0,90,118.0,2.6,4.280000,89,1,61.0,115.0,2.0,218.0,90.0,31.0,41.0,210.0
398,41506,296.0,369,46.0,6.4,16.110001,53,0,69.0,173.0,2.0,138.0,94.0,35.0,39.0,210.0
399,41507,284.0,89,54.0,5.3,4.390000,51,1,63.0,154.0,2.0,140.0,100.0,32.0,43.0,180.0
400,41510,194.0,269,38.0,5.1,13.630000,29,1,69.0,167.0,1.0,120.0,70.0,33.0,40.0,20.0
401,41752,199.0,76,52.0,3.8,4.490000,41,1,63.0,197.0,2.0,120.0,78.0,41.0,48.0,255.0

In [12]:
data = data.rename(columns={"stab.glu": "stab_glu", "bp.1s": "bp_1s", \
                            "bp.1d": "bp_1d", "time.ppn": "time_ppn"})
data

,id,chol,stab_glu,hdl,ratio,glyhb,age,gender,height,weight,frame,bp_1s,bp_1d,waist,hip,time_ppn
0,1000,203.0,82,56.0,3.6,4.310000,46,1,62.0,121.0,2.0,118.0,59.0,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.440000,29,1,64.0,218.0,3.0,112.0,68.0,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.640000,58,1,61.0,256.0,3.0,190.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.630000,67,0,67.0,119.0,3.0,110.0,50.0,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.720000,64,0,68.0,183.0,2.0,138.0,80.0,44.0,41.0,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,41503,301.0,90,118.0,2.6,4.280000,89,1,61.0,115.0,2.0,218.0,90.0,31.0,41.0,210.0
398,41506,296.0,369,46.0,6.4,16.110001,53,0,69.0,173.0,2.0,138.0,94.0,35.0,39.0,210.0
399,41507,284.0,89,54.0,5.3,4.390000,51,1,63.0,154.0,2.0,140.0,100.0,32.0,43.0,180.0
400,41510,194.0,269,38.0,5.1,13.630000,29,1,69.0,167.0,1.0,120.0,70.0,33.0,40.0,20.0
401,41752,199.0,76,52.0,3.8,4.490000,41,1,63.0,197.0,2.0,120.0,78.0,41.0,48.0,255.0

In [13]:
data.to_csv('/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/DiabetesData.csv', index = False)

In [18]:
data_small = data[:100]

In [19]:
data_small

,id,chol,stab_glu,hdl,ratio,glyhb,age,gender,height,weight,frame,bp_1s,bp_1d,waist,hip,time_ppn
0,1000,203.0,82,56.0,3.6,4.31,46,1,62.0,121.0,2.0,118.0,59.0,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.44,29,1,64.0,218.0,3.0,112.0,68.0,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.64,58,1,61.0,256.0,3.0,190.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.63,67,0,67.0,119.0,3.0,110.0,50.0,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.72,64,0,68.0,183.0,2.0,138.0,80.0,44.0,41.0,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,4802,293.0,85,94.0,3.1,5.17,31,1,67.0,200.0,2.0,110.0,90.0,41.0,42.0,240.0
107,4803,227.0,105,44.0,5.2,5.71,83,1,59.0,125.0,2.0,150.0,90.0,35.0,40.0,300.0
111,4818,283.0,83,74.0,3.8,4.22,26,0,72.0,227.0,3.0,158.0,104.0,41.0,44.0,330.0
112,4821,186.0,74,76.0,2.4,5.17,36,0,69.0,150.0,1.0,138.0,82.0,31.0,38.0,60.0
113,4822,273.0,94,49.0,5.6,3.76,53,1,64.0,174.0,2.0,160.0,96.0,34.0,43.0,30.0

In [20]:
data_small.to_csv('/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/DiabetesData100.csv', index = False)

In [14]:
data_numpy = data.to_numpy().T

In [8]:
for i in range(7):
    noc_val = i + 1
    XC, S, C, SSE, varexpl = PCHA(data_numpy, noc=noc_val, I = None, delta=0)
    
    S_df = pd.DataFrame(S)
    XC_df = pd.DataFrame(XC)
    
    S_df.to_csv('/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/DiabetesSMatrix'+ \
                str(noc_val)+'.csv', index = False, header = True)
    XC_df.to_csv('/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/DiabetesXCMatrix'+ \
                 str(noc_val)+'.csv', index = False, header = True)